.inicio{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    height: 90vh;
    
}

.textos{
    width: 62%;

    h1{
    width:75%;
    font-family: "Source Sans 3", sans-serif;
    color: #205691;
    font-size: 140px;
    font-style: normal;
    font-weight: 900;
    font-weight: bold;
    line-height: 100%;

    }
    p{
    
        width: 55%;
        color: #205691;
        margin-top: 1rem;
        font-size: 30px;
        font-weight: 200;
        font-family: "Alatsi", sans-serif;
        font-style: normal;
        line-height: 100%;
        
    }
}

.imagemContainer{
    margin-right:1rem;
    width: 30%;
    right: 15%;
    position: relative;
    .imagem{
        
        width: 450px;
        height: 90vh;
        position: relative;
        img{
            width: 1000px;
            height: 100vh;
            

        }
    }
}