.inicio{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    height: 90vh;
    
}

.textos{
    width: 76%;

    h1{
    width:75%;
    font-family: "Source Sans 3", sans-serif;
    color: #205691;
    font-size: 125px;
    font-style: normal;
    font-weight: 900;
    font-weight: bold;
    line-height: 100%;

    }
    p{
    
        width: 55%;
        color: #205691;
        margin-top: 1rem;
        font-size: 30px;
        font-weight: 200;
        font-family: "Alatsi", sans-serif;
        font-style: normal;
        line-height: 100%;
        
    }
}

.imagemContainer{
    margin-right:1rem;
    width: 30%;
    right:15%;
    position: relative;
    .imagem{
        
        width: 450px;
        height: 90vh;
        position: relative;
        img{
            width: 860px;
            height: 100vh;
            

        }
    }
}

@media (min-width: 201px) and (max-width: 800px) {

    .inicio{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 50%;
        padding-left: 0;
        padding-top: 2rem;
    }

    .textos{
        width: 90%;
        text-align: center;
        margin: 2rem;

        h1{
            width: 100%;
            font-size: 40px;
        }
        p{
            width: 100%;
            font-size: 13px;
            font-weight: normal;
        }
    }

    .imagemContainer{
        width: 100%;
        left: 5rem;
        .imagem{
            width: 70%;
            height: 45vh;
            img{
                border-radius: 90%;
                width: 100%;
                height: 100%;
            }
        }
    }
}