.navbar{
    background-color: #205691;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    
}


.navLinks{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }
    
    

    a{
        text-decoration: none;
        color: #FFFFFF;
        font-family: "Inter", sans-serif;
        font-size: 24px;
        
        &:hover{
            color: #00a2ff93;
            transition: all 0.3s ease-in-out;
        }
        
        
    }
}
.fotoperfil{
    width: 60px;
    height: 60px;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }
}



