.navbar{
    background-color: #205691;
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px  40px;

    .logo{
        width: 90px;
        height: 7vh;}
    
}


.navLinks{
    
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    &:hover{
        
        transition: all 0.3s ease-in-out;
        
    }
    
    

    a{
        
        text-decoration: none;
        color: #FFFFFF;
        font-family: "Inter", sans-serif;
        font-size: 24px;
        
        &:hover{
            color: #00a2ff93;
            transition: all 0.3s ease-in-out;
        }
        
        
    }
}
.fotoperfil{
    width: 60px;
    height: 60px;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }
}



@media (min-width: 201px) and (max-width: 768px) {
    .navbar{
        display: flex;
        flex-direction: row;
        height: 15vh;
        padding: 20px;
        

        .logo{
            width: 60px;
            height: 5vh;
        }

        .fotoperfil{
            width: 40px;
            height: 40px;
        }
    }
    
    .navLinks{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20px;
        flex-direction: row;
        gap: 0.5rem;

        a{
            font-size: 12px;
            text-align: center;
            
        }
    }
}