.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #205691;
    margin: 0;
    padding: 10px;
    width: 100%;
    
}

    .navBarFooter{
        
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .redesSociais{
        display: flex;
        gap: 15px;
    }

    .iconeRedeSocial{
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: transform 0.3s;

        &:hover{
            transform: scale(1.1);
        }
    }

.logoContainer{
    margin-left: 25px;
    width: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

    .logo{
        width: 105px;
        height: 80px;
        
        
    }
    
    .nomeLogo{
        
        font-weight: 400;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-size: 24px;
        color: white;
       
    }

}

.direitos{
    width: 25%;
    margin-right: 25px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
}


@media (min-width: 201px) and (max-width: 768px) {

    .footer{
        flex-direction: column-reverse;
        align-items: center;
        padding: 10px 0;
        gap: 15px;
    }

    .navBarFooter{
        flex-direction: column-reverse;
        align-items: center;
        gap: 15px;
    }

    .logoContainer{
        width: 50%;
        justify-content: center;
        gap: 2rem;

        .logo{
            width: 90px;
            height: 70px;
        }

        .nomeLogo{
            font-size: 30px;
            font-style: normal;
        }
    }

    .direitos{
        width: 100%;
        margin-right: 0;
        font-size: 12px;
        font-style: normal;
    }

    .redesSociais{
        gap: 4rem;
    }
}
    
