.footer{
    background-color: #205691;
}

    .navBarFooter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .redesSociais{
        display: flex;
        gap: 15px;
    }

    .iconeRedeSocial{
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: transform 0.3s;

        &:hover{
            transform: scale(1.1);
        }
    }

.logoContainer{
    margin-left: 25px;
    width: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

    .logo{
        width: 105px;
        height: 80px;
        
        
    }
    
    .nomeLogo{
        
        font-weight: 400;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-size: 24px;
        color: white;
       
    }

}

.direitos{
    width: 25%;
    margin-right: 25px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

    
