
.quemSomos {
    background-image: url("/src/assets/backgroundQuemSomos.png");
    background-repeat: no-repeat;
    height: 100vh;

 


.textos {
    
    margin-left: 70rem;
    padding-top: 6rem;
    width: 35%;
    height: 100vh;
    font-family: "Inter", sans-serif;
    


}

.titulo{
    h1 {
        font-size: 2rem;
        color: #205691;
        font-size: 55px;
        width: 85%;
        
    }
}

.conteudo {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 90%;


    p {
        font-size: 25px;
        color: #000000;
        margin-top: 30px;
        
    }
}

}
@media (min-width: 201px) and (max-width: 800px){
  
.quemSomos{
    display: flex;
    flex-direction: center;
    justify-content: center;
    height: 115vh;
.textos{

    background-color: #ffffffb2;
    border-radius: 15px;
    width: 90%;
    height: 93%;
    margin-top: 2.5rem;
    margin-left: 0;
    padding: 15px;

    .titulo{
        h1 {
            color: rgb(0, 85, 165);
            font-size: 30px;
            width: 100%;
        }
    }

    .conteudo {
        p {
            font-size: 18px;
        }
    }
}
}
}