.quemSomos {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;

  

    img {
        
        width: 80%;
        height: 90vh;
        
    }
 


.textos {
    
    margin-left: 20px;
    margin-top: 25px;
    width: 35%;
    height: 80vh;
    position: absolute;
    top:5rem;
    right: 10rem;
    font-family: "Inter", sans-serif;

}

.titulo{
    h1 {
        font-size: 2rem;
        color: #205691;
        font-size: 55px;
        width: 85%;
        
    }
}

.conteudo {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 90%;


    p {
        font-size: 25px;
        color: #000000;
        margin-top: 30px;
        
    }
}

}