.introAcoes{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    h1{
        color: #205691;
        font-family: "Source Sans 3", sans-serif;
        font-weight: 700;
        font-style: Bold;
        font-size: 60px;
        line-height: 100%;
    }

    p{
        width: 55%;
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;

    }
}

.acoesContainer{
    
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    
    

    .acoesCards{
        margin: 4rem 0 6rem;
        width: 70%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;

        .cards{
            background-color: #2057916b;
            border-radius: 8px;
            width: 380px;
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            gap: 1rem;

            

            h2{
                color: #205691;
                text-align: center;
                font-family: "Source Sans 3", sans-serif;
                font-weight: 700;
                font-style: Bold;
                font-size: 24px;
                line-height: 120%;
                text-align: center;
            }

            p{
                font-family: Inter;
                font-weight: 400;
                font-style: Regular;
                font-size: 16px;
                line-height: 150%;
                text-align: center;

            }

        .button{
        margin-top: 2rem;
        padding: 1rem 2rem;
        background-color: #205691;
        border: none;
        border-radius: 8px;
        color: #FFFFFF;
        font-family: "Source Sans 3", sans-serif;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 18px;
        line-height: 120%;
        cursor: pointer;
        &:hover{
            background-color: #104070;
    }
}
        }
    }
}