.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    height: 90vh;
    width: 100%;

    img{
        box-shadow: 4px 4px 4px #158000;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        margin: 0;;
    }

    .info{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 45%;
    }
    .perfil{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 77%;


        h1{
            font-size: 30px;
            font-weight: 700;
            margin: 0;
            
        }

        h3{
            font-weight: 500;
            font-size: 16px;
            color:#278733;
            margin: 0;
        }

        p{
            font-weight: 400;
            font-size: 16px;
            color: #000000;
            margin: 0;

        }
    }

    .local{
        
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        width: 100%;
        gap: 30px;
    }

    .atividades{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;

        a{
            width: 130px;
            font-weight: 500;
            font-size: 12px;
            text-align: center;
            color: #278733;
            text-decoration: none;
            background-color: #D4E7D6;
            padding: 10px;
            border-radius: 10px;
        }
    }



}

.perfilContainer{
    border: #00000048 2px solid;
    border-radius: 30px;
    box-shadow: 0px 4px 4px #00000086;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 10rem;
    width: 60%;
    height: 60vh;
}


@media (min-width: 201px) and (max-width: 800px) {


    .container{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90vh;
        width: 100%;

        img{
        box-shadow: 4px 4px 4px #158000;
        width: 160px;
        height: 160px;
        border-radius: 100%;
        margin: 0;;
    }

    .info{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        width: 85%;
    }

    }

    .perfilContainer{
    border: #00000048 2px solid;
    border-radius: 30px;
    box-shadow: 0px 4px 4px #00000086;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 10rem;
    padding: 2rem;
    width: 95%;
    height: 80vh;

        .perfil{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 100%;


        h1{
            
            width: 100%;
            font-size: 30px;
            font-weight: 700;
            margin: 0;
            
        }

        h3{
            font-weight: 500;
            font-size: 16px;
            color:#278733;
            
        }

        p{
            font-weight: 400;
            font-size: 16px;
            color: #000000;
            margin: 0;

        }
    }

    .local{
        
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        width: 100%;
        gap: 10px;
        font-weight: 400;
        font-style: bold;
    }

    .atividades{
        
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10vh;
        gap: 5px;

        a{
            width: 30%;
            font-weight: 500;
            font-size: 12px;
            text-align: center;
            color: #278733;
            text-decoration: none;
            background-color: #D4E7D6;
            background-size: 30%;
            padding: 7px;
            border-radius: 10px;
        }
    }


}

}